@media (max-width:1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 510px){
    .informacoes{
        padding-right: 30px;
    }
    .informacoes button{
        display: inline;
    }
}