@media (max-width: 820px){
    body{
        font-size: 15px;
    }
    .informacoes{
        padding-right: 30px;
        font-size: 15px;
        margin-bottom: 0px;
    }
    
    .informacoes .texto{
        font-size: 15px;
    }

    .informacoes .entrar{
        display: inline;
    }

    .informacoes .genero{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .informacoes .novidades-termos{
        font-size: 10px;
    }
    
}


@media (max-width: 410px){
    .informacoes button{
        display: inline;
        margin-bottom: 10px;
    }
}