@media (max-width:1280px){
    body{
        padding: 0 40px;
    }
}

@media (max-width: 510px){
    .informacoes{
        padding-right: 30px;
    }
    
    .informacoes .texto{
        max-width: 100%;
        padding: 5px 50px 5px 50px;
    }

    .informacoes button{
        display: inline;
    }
}
